html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::after,
*::before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    font-family: "Roboto", sans-serif;
    background: #1b2944;
    color: #fff;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #ffc41d;
    transition: ease-in 0.2s;
}

.container {
    max-width: 951px;
    margin: 0 auto;
    padding: 0 15px;

    @media screen and (max-width: 450px) {
        padding: 0 25px;
    }
}

.button {
    display: inline-block;
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #1b2944;
    background: #ffbb01;
    box-shadow: 0px 4px 0px #b68500;
    border-radius: 5px 5px 10px 10px;
    padding: 24px 43px;
    cursor: pointer;
}

.button:hover {
    background: #f0a00d;
    box-shadow: 0px 4px 2px #b68500;
    transition: 0.2s;
    color: #1b2944;
}

.title {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;

    @media screen and (max-width: 750px) {
        text-align: center;
    }

    @media screen and (max-width: 450px) {
        font-size: 19px;
        line-height: 22px;
    }
}

.links {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    list-style: none;
}

.image-link {
    width: 20px;
}

.links__soclink {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: cover;

    &_git {
        background-image: url(../img/ico_soc/github.svg);
    }

    &_git:hover {
        background-image: url(../img/ico_soc/github-2.svg);
    }

    &_tel {
        background-image: url(../img/ico_soc/telegram-app.svg);
    }

    &_tel:hover {
        background-image: url(../img/ico_soc/telegram-app-2.svg);
    }

    &_insta {
        background-image: url(../img/ico_soc/instagram.svg);
    }

    &_insta:hover {
        background-image: url(../img/ico_soc/instagram-2.svg);
    }

    &_fb {
        background-image: url(../img/ico_soc/facebook.svg);
    }

    &_fb:hover {
        background-image: url(../img/ico_soc//facebook-2.svg);
    }
}

.soclinks + .soclinks {
    margin-left: 20px;
}

.header {
    &__top {
        margin-top: 37px;
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: 450px) {
            margin-top: 29px;
        }
    }

    &__block {
        margin: 117px auto 71px auto;
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: 750px) {
            flex-direction: column;
            margin: 70px auto 40px auto;
        }

        @media screen and (max-width: 450px) {
            margin: 55px auto 42px auto;
        }
    }

    &__buttons {
        display: flex;
        justify-content: space-around;
    }

    &__text {
        @media screen and (max-width: 750px) {
            order: 2;
            margin: 0 auto;
        }
    }

    &__imgblock {
        @media screen and (max-width: 750px) {
            order: 1;
            margin: 0 auto;
        }
    }

    &__title {
        margin: 34px 0 0 0;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;
        color: #ffbb01;

        @media screen and (max-width: 450px) {
            margin: 20px 0 0 0;
            font-size: 16px;
            line-height: 27px;
            text-align: center;
        }
    }

    &__subtitle {
        margin: 14px 0 0 0;
        font-style: normal;
        font-weight: bold;
        font-size: 50px;
        line-height: 59px;

        @media screen and (max-width: 450px) {
            margin: 10px 0 0 0;
            font-size: 24px;
            line-height: 28px;
            text-align: center;
        }
    }

    &__about {
        max-width: 445px;
        margin: 20px 0 0 0;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 28px;

        @media screen and (max-width: 450px) {
            margin: 15px 0 0 0;
            font-size: 14px;
            text-align: center;
        }
    }

    &__btn {
        margin: 62px 0 0 0;

        @media screen and (max-width: 750px) {
            text-align: center;
        }

        @media screen and (max-width: 450px) {
            margin: 48px 0 0 0;
        }
    }

    &__img {
        max-width: 362px;
        border-radius: 50%;

        @media screen and (max-width: 750px) {
            max-width: 250px;
        }

        @media screen and (max-width: 450px) {
            max-width: 115px;
        }
    }
}

.services {
    background: #141f35;
    padding: 64px 0 92px 0;

    @media screen and (max-width: 450px) {
        padding: 60px 0;
    }

    &__title {
        margin: 0;
    }

    &__description {
        margin-top: 80px;
        display: grid;
        grid-template-columns: repeat(3, minmax(200px, 304px));
        grid-gap: 60px 15px;

        @media screen and (max-width: 750px) {
            justify-content: center;
            grid-template-columns: repeat(2, minmax(200px, 304px));
        }

        @media screen and (max-width: 450px) {
            margin-top: 60px;
            grid-template-columns: repeat(1, 1fr);
        }
    }

    &__dcr-title {
        margin: 21px 0 0 0;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;

        @media screen and (max-width: 450px) {
            font-size: 18px;
            line-height: 28px;
        }
    }

    &__text {
        margin: 16px 0 0 0;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 28px;

        @media screen and (max-width: 450px) {
            margin: 6px 0 0 0;
            font-size: 14px;
            line-height: 28px;
        }
    }
}

.projects {
    background: #141f35;
    padding: 0px 0 92px 0;

    @media screen and (max-width: 450px) {
        padding: 60px 0;
    }

    &__imgg {
        width: 100%;
        border-radius: 2px;
        filter: grayscale(100%);
    }

    &__imgg:hover {
        transition: 0.5s;
        filter: none;
    }

    &__title {
        font-size: 36px;
        margin: 0;
    }

    &__description {
        margin-top: 80px;
        display: grid;
        grid-template-columns: repeat(3, minmax(200px, 304px));
        grid-gap: 60px 15px;

        @media screen and (max-width: 750px) {
            justify-content: center;
            grid-template-columns: repeat(2, minmax(200px, 304px));
        }

        @media screen and (max-width: 450px) {
            margin-top: 60px;
            grid-template-columns: repeat(1, 1fr);
        }
    }

    &__dcr-title {
        margin: 21px 0 0 0;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;

        @media screen and (max-width: 450px) {
            font-size: 18px;
            line-height: 28px;
        }
    }

    &__text {
        margin: 16px 0 0 0;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 28px;

        @media screen and (max-width: 450px) {
            margin: 6px 0 0 0;
            font-size: 14px;
            line-height: 28px;
        }
    }
}

.footer {
    padding: 52px 0;

    @media screen and (max-width: 450px) {
        padding: 29px 0;
    }

    &__title {
        margin: 0;

        @media screen and (max-width: 750px) {
            text-align: center;
        }
    }

    &__info-block {
        margin-top: 80px;
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: 750px) {
            flex-direction: column;
        }

        @media screen and (max-width: 450px) {
            margin-top: 60px;
        }
    }

    &__forms {
        padding: 47px 39px;
        max-width: 458px;
        display: inline-block;
        background: #ffffff;
        box-shadow: -5px 5px 0px #ffc41d;
        border-radius: 5px;

        @media screen and (max-width: 750px) {
            margin: 0 auto;
        }
    }

    &__forms:hover {
        box-shadow: -5px 5px 2px #f0a00d;
        transition: 0.2s;
    }

    s &__form-title {
        margin: 0 0 30px 0;
        max-width: 380px;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 28px;
        text-align: center;
        color: #000000;

        @media screen and (max-width: 450px) {
            font-size: 15px;
            margin: 0 0 28px 0;
        }
    }

    &__name {
        width: 100%;
        margin: 20px 0 0 0;
        display: block;
        max-width: 380px;
        height: 70px;
        background: #f8f8f8;
        box-shadow: inset 0px 3px 10px rgba(199, 199, 199, 0.25);
        border-radius: 5px;

        @media screen and (max-width: 450px) {
            height: 64px;
            margin: 18px 0 0 0;
        }
    }

    &__contacts {
        margin-left: 20px;
    }

    &__button {
        display: block;
        margin: 28px 0 0 0;
        max-width: 380px;

        @media screen and (max-width: 450px) {
            margin: 36px 0 0 0;
            font-size: 10px;
            line-height: 28px;
            padding-right: 0;
            padding-left: 0;
        }
    }

    &__contacts-block {
        display: flex;

        // justify-content: space-between;
        @media screen and (max-width: 750px) {
            max-width: 458px;
            justify-content: space-between;
            margin: 40px auto 0 auto;
        }

        @media screen and (max-width: 450px) {
            flex-direction: column;
        }
    }

    &__social {
        @media screen and (max-width: 750px) {
            max-width: 458px;
            justify-content: space-between;
            margin: 40px auto 0 auto;
        }

        @media screen and (max-width: 450px) {
            margin: 35px auto 0 auto;
        }
    }

    &__tel + &__tel {
        margin-left: 125px;

        @media screen and (max-width: 750px) {
            margin-left: 20px;
        }

        @media screen and (max-width: 450px) {
            margin-left: 0;
        }
    }

    &__subtitle {
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
        margin: 0;

        @media screen and (max-width: 450px) {
            margin-top: 35px;
            font-size: 18px;
            line-height: 21px;
        }
    }

    &__subtext {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        margin: 16px 0 40px 0;

        @media screen and (max-width: 450px) {
            margin: 11px 0 0 0;
            font-size: 14px;
            line-height: 16px;
        }
    }

    &__soc-block {
        display: flex;

        @media screen and (max-width: 450px) {
            flex-direction: column;
        }
    }

    &__subtext_soc + &__subtext_soc {
        margin-left: 41px;

        @media screen and (max-width: 750px) {
            margin-left: 15px;
        }

        @media screen and (max-width: 450px) {
            margin-left: 0;
        }
    }

    &__links {
        @media screen and (max-width: 450px) {
            margin-top: 36px;
        }
    }

    &__condiance {
        margin: 210px 0 0 0;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 18px;
        text-decoration-line: underline;
        color: #949494;

        @media screen and (max-width: 750px) {
            margin: 40px 0 0 0;
            text-align: center;
        }

        @media screen and (max-width: 450px) {
            margin-top: 26px;
            text-align: start;
        }
    }
}
