.popup-avatar__link-error {
    margin-top: -26px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #FF0000;
    transition: .3s;
}