@import url(./_valid/popup__button_valid.css);

.popup-avatar__button {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 2px;
  margin-top: 48px;
  color: rgba(0, 0, 0, .2);
  font-size: 36px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  cursor: not-allowed;
}